.services__container {
    grid-template-columns: repeat(3,270px);

    column-gap: 0x.8rem;
    justify-content: center;
    
}
.services__content {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
    padding:1rem 0 2rem 2.5rem;
}
.services__modal-service {
    display: flex;
    align-items: start;
    column-gap: .3rem;
}
.services__button {
    
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}
.services_titles{
    display: flex;
    align-items: center;

}
@media screen and (max-width: 992px) {
    .services__container {
        grid-template-columns: 1fr;
    }
    
  }
  .services__title {
    padding-left: 10px;
    padding-bottom: 5px;
}
.services__icon {
    padding-bottom: 5px;
}
.sercices__modal-description {
    padding-bottom: 2px;
    font-weight: 600;
   
}
/*
.services__icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2);
    font-weight: var(--font-medium);
}


.services__button:hover .services__button-icon{
    transform: translateX(00.24rem);
}

.services__modal {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: var(--z-model);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
} 

.services_modal-content {
     width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.services__modal-title,
.services__modal-description {
    text-align: center;
}


.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.services__modal-description {
    font-size: var(--small-font-size);
    padding: 0 3.5rem;
    margin-bottom: var(-mb-2);
}

.services__modal-services {
    row-gap: 0.75rem;
}



.services__modal-icon {
    color:var(--title-color);
    font-size: 1.1rem;
} */

/* Active Model  */
/* .active-modal {
    opacity: 1;
    visibility: visible;
} */