.contact__container{
display: flex;
flex-direction: column-reverse;
overflow: hidden;
justify-content: center;
align-items: center;
margin-top: 30px;
}
.contact__containeritem{
    padding: 30px;
    padding: 20px;
    border-radius: 30px;
    width: 50%;
    background-color: var(--container-color);

}
.contact__label{
    display: flex;
    flex-direction: column;
    color: rgb(204, 204, 204);
}
.contact__span{
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 8px;
}
.contact__input{
    padding: 20px;
    color: black;
    /* background-color: rgb(204, 204, 204); */
    border-radius: 8px;
    
    border: 1px solid rgb(155, 155, 155);
    font-weight: 500;
}
.contact_button{
margin: 20px;

}
.contact_header{
    font-weight: bold;
    font-size: 35px;
}
.contact__title{
    align-items: start;
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 30px;
    width: 75%;
}
@media screen and (max-width:550px ) {
    .contact__containeritem{
       width: 80%;
    }
    .contact__title{
       
        width: 100%;
    }
}